
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  

}
/*Set font type for all paragraphs and headers and set a backup font
Link to fonts in html file.*/

p h1 h2 h3 h4 {
  font-family: Roboto, Arial;
}

header {

height: 70px;
width: 100%;
background-color: black;
display: flex;
justify-content:  flex-end;
font-weight: bold;

}

h1 {
  color: white;
  font-size: 55px;
  font-weight: bold;
  line-height: 75px;
  padding: 0 90px;
  justify-content:  start;
  flex: 20%;
  /*position: absolute;*/
  left: 0;
 
}

.nav-bar ul li {
  flex: 80%;
  
 }

nav ul li a{
  color: red;
  font-size: 16px;
  float: right;
  flex: wrap;
  
}

  nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
     
}

nav{
  float: right;
  list-style-type: none;
  height: 75px;
  margin-right: 50px;
  
}


/*Made subheading relative to position subtitle in bottomn corner of header*/
.subheading {
  background-color: pink;
  height: 200px;
  position: relative;
  margin-top: -5px;
  }

 
  
  /*Made subtitle absolute to position subtitle in bottomn corner of header*/
  .sub {
    color: red;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
    font-size: 55px;
    border: 5px solid darkblue;
    background-color: lightblue;
  } 


/* Split main content into 3 sections and made them a flexbox*/

/*About me section*/ 

.about {
  display: flex;
  margin-top: 2%;
  padding-top: 2%;
   
}

.about-me-content {
  display: flex;
  flex: 80%;
}
.about-me-content + p {
  justify-content: center;
  flex: 80%; 
}
.about h3 {
  
  color: blue;
  border-right: 5px solid darkblue;
  line-height: 50px;
  font-size: 45px;
  text-align: center;
  flex: 20%;
  margin-right: -1.5%;

} 

.about p {
  color: black;
  letter-spacing: 2px;
  line-height: 50px;
 
  
}
.about-me-content {
  margin-left: 2%;
  display: flex;
  flex: wrap;
  flex: 80%;
  
}

/*Made some adjustments to avatar to fit inside about me section*/
#self {
  width: 50%;
  height: 50%;
  flex: 20%;
  margin-left: -2%;
 
}

/*Work section*/ 

.subtitle {
  width: 20%;
  text-align: right;
  color: blue;
  text-align: center;
  border-right: 5px solid darkblue;
  font-size: 50px;
}

.projects-section h2{
  color: red;
  position: absolute;
  border: 3px solid black;
  background-color: lightblue;
  z-index: 1; 
  
 
}

.worksection {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

 .projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-evenly;
  width: 70%;
   
 } 

 .project {
  width: 45%;
  margin: 0.001%;;
  padding: 0.001%;
  height: 30vh;
 }

 .project:nth-child(1) {
  width: 95%;
  height: 45%;

 }

/* Used hover transform to make image larger when hover over it*/



.project-image {
 
  max-height: 100%;
  max-width: 100%;
  height:100%;
  width: 100%;
  border: 5px solid lightblue;
  position: relative;
  transition:  transform 0.15s;
}




.project-image:hover {
  transform: scale(1.1);
}


/*Contact Me section*/ 

.footer h3 {
  
  color: blue;
  border-right: 5px solid darkblue;
  line-height: 50px;
  font-size: 50px;
  flex: 20%;
}

.footer h4 {

color: red;
text-align: center;
align-self: center;
font-size: 20px;

}

.footer {
 
  display: flex;
  flex-direction: row;
  text-align: center;
  
}


.footer > * {
  flex: 80%;
 
}

/*Media queries*/


@media only screen and (max-width: 850px) {

  .project-image {
 
    max-height: 70%;
    
  }

  .footer h3 {
    font-size: 30px;
  }

}


@media only screen and (max-width: 725px) {

  h1 {
      
    font-size: 45px;
    padding: 0 50px;
    
   
  }


  .footer h3 {
    font-size: 30px;
  }
  .footer h4 {
    font-size: 15px;
    }

.about-me-content {
  
  flex: 90%;
}

.project-image {
 
  max-height: 80%;
  
}
  
   .projects-section {
    width: 90%;
     
   } 

   .footer > * {
    flex: 90%;
   
  }


   }

   @media only screen and (max-width: 641px) {
    h1 {
      
      font-size: 40px;
      padding: 0 40px;
      
     
    }

    nav ul li a {
      font-size: 14px;
    }

    .about h3 {
  
      font-size: 40px;
      flex: 10%;
     
    
    } 

    .subtitle {
      width: 19%;
      font-size: 40px;
    }

    .footer h3 {
  
      
      line-height: 50px;
      font-size: 32px;
      flex: 15%;

    }
  
  
  .project-image {
   
    max-height: 75%;
    
  }
    
     .projects-section {
      width: 90%;
       
     } 

    
   }

   @media only screen and (max-width: 600px) {


    h1 {
      
      font-size: 30px;
      padding: 0 30px;
      
     
    }
    .about h3 {
  
      font-size: 40px;
      flex: 20%;
      margin-right: -1.5%;
    
    } 

    .subtitle {
      width: 19%;
      font-size: 40px;
    }

    .footer h3 {
  
      
      line-height: 50px;
      font-size: 32px;
      flex: 15%;

    }

    .projects-section {
       flex: 60%;
      } 
      nav ul li a {
        font-size: 14px;
      }

      .footer > * {
        flex: 90%;
       
      }
    
      .project-image {
 
        max-height: 70%;
        
      }

      
   }








  
 
   


