
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;

}



header {

height: 70px;
width: 100%;
background-color: black;
display: flex;
justify-content:  flex-end;


}

h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 75px;
  padding: 0 90px;
  justify-content:  start;
  flex: 20%;
  /*position: absolute;*/
  left: 0;
 
}

.nav-bar ul li {
  flex: 80%;
  
 }

nav ul li a{
  color: red;
  font-size: 16px;
  float: right;
  flex: wrap;
  
}

  nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
     
}

nav{
  float: right;
  list-style-type: none;
  height: 75px;
  margin-right: 50px;
  
}

.subheading {
  background-color: lightblue;
  height: 200px;
  position: relative;
  margin-top: -5px;
  }

 
  /*Made subheading relative to position subtitle in bottomn corner*/

  .sub {
    color: red;
    position: absolute;
    right: 20px;
    bottom: 20px;
    
  } 

  /*Made subtitle absolute to position subtitle in bottomn corner*/



.about {
  display: flex;
  margin-top: 2%;
  padding-top: 2%;
 
  
}

.about-me-content {
  display: flex;
  flex: 80%;
}
.about-me-content + p {
  justify-content: center;
  flex: 80%; 
}
.about h3 {
  
  color: blue;
  border-right: 5px solid darkblue;
  line-height: 50px;
  font-size: 50px;
  text-align: center;
  flex: 20%;
  margin-right: -1.5%;

} 

.about p {
  color: black;
  letter-spacing: 3px;
  
  
  
}
.about-me-content {
  margin-left: 2%;
  display: flex;
  flex: wrap;
  flex: 80%;
  
}


#self {
  width: 50%;
  height: 50%;
  flex: 20%;
  margin-left: -2%;
 
}



.projects-section h2{
  color: red;
  position: absolute;
  border: 3px solid black;
  background-color: lightblue;
  z-index: 1; 
  
  /* when position it goes off to the side*/
}

.worksection {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

 .projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-evenly;
  width: 70%;
   
 } 

 .project {
  width: 45%;
  margin: 0.001%;;
  padding: 0.001%;
  height: 30vh;
 }

 .project:nth-child(1) {
  width: 95%;
  height: 45%;

 }


.project-image {
 
  max-height: 100%;
  max-width: 100%;
  height:100%;
  width: 100%;
  position: relative;
  transition:  transform 0.15s;
}

.project-image:hover {
  transform: scale(1.1);
}


.subtitle {
  width: 20%;
  text-align: right;
  color: blue;
  text-align: center;
  border-right: 5px solid darkblue;
  font-size: 50px;
}


.footer {
 
  display: flex;
  flex-direction: row;
  text-align: center;
  
}


.footer h3 {
  
  color: blue;
  border-right: 5px solid darkblue;
  line-height: 50px;
  font-size: 50px;
  flex: 20%;
}

.footer h4 {

color: red;
text-align: center;
align-self: center;

}

.footer > * {
  flex: 80%;
 
}


